.intro {
    background-image: linear-gradient(158deg, #FA641E, #FF881F);
    height: 1050px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
